:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --one-hundred-percent: 100%;
  --size-of-first-container: 250px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* BASIC RESET START */
body,
html {
  width: var(--one-hundred-percent);
  height: var(--one-hundred-percent);
}
body {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  inset: 0;
}
/* BASIC RESET END */
#mainContainer {
  background-color: white;
  border: #4322fc 10px solid;
  width: var(--size-of-first-container);
  height: var(--size-of-first-container);
  border-radius: 20px;
}
img {
  width: var(--one-hundred-percent);
  height: var(--one-hundred-percent);
}
svg {
  width: var(--one-hundred-percent);
  animation: rotate 2s linear infinite;
  height: var(--one-hundred-percent);
}
@keyframes rotate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
/* keyframe */

#rosa-content {
  /* visibility: hidden; */
  /* opacity: 0.67; */
  animation: opacityAnimation 3s linear infinite;
}

@keyframes opacityAnimation {
  100% {
    opacity: 0.1;
  }
}
#borde-rosa {
  /* visibility: hidden; */
}
